.btn-clothes{
    position: absolute;
    top: 200px;
    left: 100px;
    width: 500px;
    height: 650px;
    background-image: url('../../../public/images/clothes.jpg');
}

.btn-shoes{
    position: absolute;
    top: 200px;
    left: 735px;
    width: 500px;
    height: 650px;
    background-image: url('../../../public/images/shoes.jpg');
}

.btn-accessories{
    position: absolute;
    top: 200px;
    left: 1350px;
    width: 500px;
    height: 650px;
    background-image: url('../../../public/images/watch.jpg');
}

.clothes{
    position: absolute;
    top: 830px;
    left: 270px;
    font-size: 40px;
    font-family: cursive;
}

.shoes{
    position: absolute;
    top: 830px;
    left: 930px;
    font-size: 40px;
    font-family: cursive;
}

.accessories{
    position: absolute;
    top: 830px;
    left: 1500px;
    font-size: 40px;
    font-family: cursive;
}